In [63]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [64]:
materiales = ["acrilico", "comprimido", "madera", "yeso", "vidrio"]
d1 = [9.4] * 5 #cm
d2 = {8.5:8.3, 8.4:8.4, 8.7:8.4, 8:8.3, 7.5:7.5} #cm
d2 = [abs(key + value) / 2 for key, value in d2.items()] #cm
ta = [10*60] * 5 #mins to secs
m_tot = [206.8, 208.19, 210.14, 208.84, 216.82] #g
m_vasito = [192.01]*5# + [161.67]*3
t = [5, 5, 5, 5, 2] #min
t = [value * 60 for value in t] #mins to secs
m_wa = [15.43] * 5 #g, ambiental
m_w = [] #g, m_tot - m_vasito

m_w = [m_tot[i] - m_vasito[i] for i in range(len(m_tot))]

In [65]:
df = pd.DataFrame({"d1": d1, "d2": d2, "ta": ta, "m_tot": m_tot, "m_vaso": m_vasito, "t": t, "m_wa": m_wa, 
                   "m_w": m_w}, index = materiales)
df

             d1    d2   ta   m_tot  m_vaso    t   m_wa    m_w
acrilico    9.4  8.40  600  206.80  192.01  300  15.43  14.79
comprimido  9.4  8.40  600  208.19  192.01  300  15.43  16.18
madera      9.4  8.55  600  210.14  192.01  300  15.43  18.13
yeso        9.4  8.15  600  208.84  192.01  300  15.43  16.83
vidrio      9.4  7.50  600  216.82  192.01  120  15.43  24.81

In [66]:
d_avg = [abs(d1[i] + d2[i]) / 2 for i in range(len(d1))]
A = [np.pi * (d_avg[i] / 2)**2 for i in range(len(d_avg))]
Ra = [m_wa[i]/ta[i] for i in range(len(m_wa))]
R = [m_w[i]/t[i] for i in range(len(m_w))]
Ro = [R[i] - Ra[i] for i in range(len(R))]

h = [0.5, 0.5, 0.4, 1, 0.5]

df["d_avg"] = d_avg
df["A"] = A
df["Ra"] = Ra
df["R"] = R
df["Ro"] = Ro
df["h"] = h
df

,d1,d2,ta,m_tot,m_vaso,t,m_wa,m_w,d_avg,A,Ra,R,Ro,h
acrilico,9.4,8.40,600,206.80,192.01,300,15.43,14.79,8.900,62.211389,0.025717,0.049300,0.023583,0.5
comprimido,9.4,8.40,600,208.19,192.01,300,15.43,16.18,8.900,62.211389,0.025717,0.053933,0.028217,0.5
madera,9.4,8.55,600,210.14,192.01,300,15.43,18.13,8.975,63.264313,0.025717,0.060433,0.034717,0.4
yeso,9.4,8.15,600,208.84,192.01,300,15.43,16.83,8.775,60.476149,0.025717,0.056100,0.030383,1.0
vidrio,9.4,7.50,600,216.82,192.01,120,15.43,24.81,8.450,56.079392,0.025717,0.206750,0.181033,0.5

In [67]:
# Cálculo de la conductividad térmica (k)
diferencial_temperatura = 100  # °C

df["k"] = (df["Ro"] * 80 * df["h"]) / (df["A"] * diferencial_temperatura)

# Visualizar el DataFrame con los resultados
df

,d1,d2,ta,m_tot,m_vaso,t,m_wa,m_w,d_avg,A,Ra,R,Ro,h,k
acrilico,9.4,8.40,600,206.80,192.01,300,15.43,14.79,8.900,62.211389,0.025717,0.049300,0.023583,0.5,0.000152
comprimido,9.4,8.40,600,208.19,192.01,300,15.43,16.18,8.900,62.211389,0.025717,0.053933,0.028217,0.5,0.000181
madera,9.4,8.55,600,210.14,192.01,300,15.43,18.13,8.975,63.264313,0.025717,0.060433,0.034717,0.4,0.000176
yeso,9.4,8.15,600,208.84,192.01,300,15.43,16.83,8.775,60.476149,0.025717,0.056100,0.030383,1.0,0.000402
vidrio,9.4,7.50,600,216.82,192.01,120,15.43,24.81,8.450,56.079392,0.025717,0.206750,0.181033,0.5,0.001291